@import "variables.scss";
@import "fonts.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: Ubuntu regular;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    $background-color-primary 0%,
    $background-color-secondary 100%
  );
  background-repeat: no-repeat;
}

.todo-app {
  background: $background-color-primary;
  max-width: 400px;
  width: 100%;
  margin: 15px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);

  &__header {
    font-size: 30px;
    font-family: Ubuntu medium;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    margin-bottom: 20px;
    height: 45px;
    width: 100%;

    &-input {
      width: 85%;
      height: 100%;
      outline: none;
      border-radius: 3px;
      border: 1px solid $background-color-secondary;
      font-size: 17px;
      padding-left: 15px;
      transition: all 0.3s ease;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    &-button {
      width: 50px;
      height: 100%;
      font-size: 21px;
      margin-left: 5px;
      font-family: Ubuntu regular;
      cursor: pointer;
      background: $background-color-secondary;
      color: $text-color-primary;
      border: none;
      outline: none;
      border-radius: 3px;
      opacity: 0.6;
      transition: all 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-list-wrapper {
  }

  &__list {
    max-height: 295px;
    overflow-y: auto;
    margin-bottom: 20px;

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      height: 45px;
      line-height: 45px;
      background: $background-color-third;
      border-radius: 3px;
      padding-left: 15px;
      overflow: hidden;

      &-name {
        text-transform: capitalize;
      }

      &-action {
        &-button {
          border: none;
          vertical-align: middle;
          cursor: pointer;
          width: 45px;
          height: 100%;

          &[data-action="edit"] {
            background-image: url("../assets/icons/edit.svg");
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 50%;
            background-size: 35%;

            &:hover {
              background-color: $background-color-edit;
            }
          }

          &[data-action="delete"] {
            background-image: url("../assets/icons/delete.svg");
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 50%;
            background-size: 35%;

            &:hover {
              background-color: $background-color-delete;
              border-radius: 0 3px 3px 0;
            }
          }

          &:nth-child(2) {
            margin-right: 0px;
          }
        }
      }
    }
  }

  &__action {
    text-align: end;

    &-remove {
      color: $text-color-primary;
      cursor: pointer;
      border: none;
      font-family: Ubuntu regular;
      opacity: 0.6;
      padding: 6px 10px;
      border-radius: 3px;
      outline: none;
      font-weight: 400;
      font-size: 16px;
      background: $background-color-secondary;
      transition: all 0.3s ease;

      &.disable {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
