$text-color-primary: #ffffff;
$background-color-primary: #ffffff;
$background-color-secondary: #3459D1;
$background-color-third: #f2f2f2;
$background-color-edit: #1e9c1e;
$background-color-delete: #ff0000;
